.custum {
  text-decoration: none;
  position: relative;
  padding: 5px 0px;
  cursor: pointer;
}

.custum:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: width 0.5s ease-in-out;
}

.custum:hover:before {
  width: 100%;
}